Django==4.2.5
djangorestframework==3.14.0
gunicorn==20.1.0  # WSGI HTTP Server for UNIX
django-cors-headers==3.14.0  # For handling CORS
python-dotenv==1.0.0  # For environment variable management
requests==2.31.0 