@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #E7E9FA; /* Light mode background */
    --foreground: #000000; /* Light mode foreground */ --radius: 0.5rem;
  }

  .dark {
    --background: #141627; /* Dark mode background */
    --foreground: #f7fafc; /* Dark mode foreground */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}